*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url("Web_Images/bg-hydroponics.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  
}
h1{
    text-align: center;
    font-size: 3rem;
    color: rgb(187, 243, 138);
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: #ffffffb3;
    border-radius: 10px; 
    width: fit-content;
    margin: 10% auto;
    padding: 10px;
}

nav{
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    }


nav li{
    height: 50px;
}
nav a{
    text-decoration: none;
    height: 100%;
    color: black;
    font-weight: bold;
    padding: 0 30px;
    display: flex;
    align-items: center;
    list-style: none;
}
nav a:hover{
    background-color: rgba(158, 196, 108, 0.788);
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff3d;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.data{
    
    margin: 50px auto;
    max-width: 800px;
    margin-top: 40%;
    padding: 20px;
    width: 100%;
    background-color: #ffffffb3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
    flex-direction: row;
    display:    flex;
    gap: 25px;
    justify-content: space-around;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
  
}